openapi: 3.0.3
info:
  title: Объявления API
  description: RESTful API для сервиса объявлений
  version: 1.0.0

servers:
  - url: https://api.adservice.com/v1
    description: Production server
  - url: http://localhost:8000/v1
    description: Local development server

tags:
  - name: ads
    description: Операции с объявлениями
  - name: users
    description: Операции с пользователями

paths:
  /ads:
    get:
      tags: [ads]
      summary: Получить список объявлений
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 100
          description: Количество объявлений на странице
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Смещение для пагинации
        - name: search
          in: query
          schema:
            type: string
          description: Поиск по названию или описанию
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  ads:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ad'

    post:
      tags: [ads]
      summary: Создать новое объявление
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdCreate'
      responses:
        '201':
          description: Объявление успешно создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'
        '400':
          description: Некорректные данные
        '401':
          description: Неавторизован

  /ads/{id}:
    get:
      tags: [ads]
      summary: Получить объявление по ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'
        '404':
          description: Объявление не найдено

    put:
      tags: [ads]
      summary: Обновить объявление
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdUpdate'
      responses:
        '200':
          description: Объявление обновлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ad'
        '400':
          description: Некорректные данные
        '401':
          description: Неавторизован
        '403':
          description: Доступ запрещён
        '404':
          description: Объявление не найдено

    delete:
      tags: [ads]
      summary: Удалить объявление
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Объявление удалено
        '401':
          description: Неавторизован
        '403':
          description: Доступ запрещён
        '404':
          description: Объявление не найдено

  /users:
    post:
      tags: [users]
      summary: Зарегистрировать нового пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '201':
          description: Пользователь создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Некорректные данные

  /users/me:
    get:
      tags: [users]
      summary: Получить информацию о текущем пользователе
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

components:
  schemas:
    Ad:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: "iPhone 13 в идеальном состоянии"
        description:
          type: string
          example: "Продаю iPhone 13, 128 Гб, цвет — синий. Куплен в 2022 году."
        price:
          type: number
          format: float
          example: 45000.0
        author_id:
          type: integer
          example: 5
        created_at:
          type: string
          format: date-time
          example: "2024-04-05T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2024-04-05T10:00:00Z"

    AdCreate:
      type: object
      required:
        - title
        - price
      properties:
        title:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        price:
          type: number
          format: float
          minimum: 0

    AdUpdate:
      type: object
      properties:
        title:
          type: string
          maxLength: 200
        description:
          type: string
          maxLength: 2000
        price:
          type: number
          format: float
          minimum: 0

    User:
      type: object
      properties:
        id:
          type: integer
          example: 5
        email:
          type: string
          format: email
          example: "user@example.com"
        first_name:
          type: string
          example: "Иван"
        last_name:
          type: string
          example: "Иванов"
        phone:
          type: string
          example: "+79991234567"
        created_at:
          type: string
          format: date-time
          example: "2024-04-01T12:00:00Z"

    UserCreate:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          writeOnly: true
          minLength: 6
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
