# -----------------------------
# PostgreSQL configuration
# -----------------------------

# Connection Settings
listen_addresses = '*'
port = 5432
max_connections = {{ postgresql_max_connections }}

# Memory Settings
shared_buffers = {{ postgresql_shared_buffers }}
effective_cache_size = {{ postgresql_effective_cache_size }}
work_mem = {{ postgresql_work_mem }}
maintenance_work_mem = {{ postgresql_maintenance_work_mem }}

# Logging
log_destination = 'stderr'
logging_collector = on
log_directory = 'log'
log_filename = 'postgresql-%Y-%m-%d_%H%M%S.log'
log_statement = 'error'
log_min_duration_statement = 1000

# Autovacuum
autovacuum = on